.date-time-input {
  --background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: var(--ion-color-secondary);
}

.input-description {
  color: var(--ion-color-light);
  --background: transparent;
  border: solid 1px var(--ion-color-secondary);
  border-radius: 10px;
}

.custom-button {
  border-radius: 10px;
  box-shadow: 0px 0px 30px -1px rgba(254, 117, 47, 1);
}
