.bg-login {
  height: 100%;
  background: var(--ion-color-primary);
  background-image: url(../../assets/images/bbb-02.png);
  background-size: 100% 100%;
}

.welcome {
  display: flex;
  height: 100%;
  width: 100%;
}

.welcome-info {
  margin: auto;
}

.logo {
  max-width: 30%;
}

.login {
  display: flex;
  height: 100%;
  width: 100%;
}

.login-form {
  margin: auto;
}
